pre.pygments .hll { background-color: #ffffcc }
pre.pygments  { background: #ffffff; }
pre.pygments .tok-c { color: #aaaaaa; font-style: italic } /* Comment */
pre.pygments .tok-err { color: #FF0000; background-color: #FFAAAA } /* Error */
pre.pygments .tok-k { color: #0000aa } /* Keyword */
pre.pygments .tok-ch { color: #aaaaaa; font-style: italic } /* Comment.Hashbang */
pre.pygments .tok-cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
pre.pygments .tok-cp { color: #4c8317 } /* Comment.Preproc */
pre.pygments .tok-cpf { color: #aaaaaa; font-style: italic } /* Comment.PreprocFile */
pre.pygments .tok-c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
pre.pygments .tok-cs { color: #0000aa; font-style: italic } /* Comment.Special */
pre.pygments .tok-gd { color: #aa0000 } /* Generic.Deleted */
pre.pygments .tok-ge { font-style: italic } /* Generic.Emph */
pre.pygments .tok-gr { color: #aa0000 } /* Generic.Error */
pre.pygments .tok-gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre.pygments .tok-gi { color: #00aa00 } /* Generic.Inserted */
pre.pygments .tok-go { color: #888888 } /* Generic.Output */
pre.pygments .tok-gp { color: #555555 } /* Generic.Prompt */
pre.pygments .tok-gs { font-weight: bold } /* Generic.Strong */
pre.pygments .tok-gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre.pygments .tok-gt { color: #aa0000 } /* Generic.Traceback */
pre.pygments .tok-kc { color: #0000aa } /* Keyword.Constant */
pre.pygments .tok-kd { color: #0000aa } /* Keyword.Declaration */
pre.pygments .tok-kn { color: #0000aa } /* Keyword.Namespace */
pre.pygments .tok-kp { color: #0000aa } /* Keyword.Pseudo */
pre.pygments .tok-kr { color: #0000aa } /* Keyword.Reserved */
pre.pygments .tok-kt { color: #00aaaa } /* Keyword.Type */
pre.pygments .tok-m { color: #009999 } /* Literal.Number */
pre.pygments .tok-s { color: #aa5500 } /* Literal.String */
pre.pygments .tok-na { color: #1e90ff } /* Name.Attribute */
pre.pygments .tok-nb { color: #00aaaa } /* Name.Builtin */
pre.pygments .tok-nc { color: #00aa00; text-decoration: underline } /* Name.Class */
pre.pygments .tok-no { color: #aa0000 } /* Name.Constant */
pre.pygments .tok-nd { color: #888888 } /* Name.Decorator */
pre.pygments .tok-ni { color: #880000; font-weight: bold } /* Name.Entity */
pre.pygments .tok-nf { color: #00aa00 } /* Name.Function */
pre.pygments .tok-nn { color: #00aaaa; text-decoration: underline } /* Name.Namespace */
pre.pygments .tok-nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
pre.pygments .tok-nv { color: #aa0000 } /* Name.Variable */
pre.pygments .tok-ow { color: #0000aa } /* Operator.Word */
pre.pygments .tok-w { color: #bbbbbb } /* Text.Whitespace */
pre.pygments .tok-mb { color: #009999 } /* Literal.Number.Bin */
pre.pygments .tok-mf { color: #009999 } /* Literal.Number.Float */
pre.pygments .tok-mh { color: #009999 } /* Literal.Number.Hex */
pre.pygments .tok-mi { color: #009999 } /* Literal.Number.Integer */
pre.pygments .tok-mo { color: #009999 } /* Literal.Number.Oct */
pre.pygments .tok-sa { color: #aa5500 } /* Literal.String.Affix */
pre.pygments .tok-sb { color: #aa5500 } /* Literal.String.Backtick */
pre.pygments .tok-sc { color: #aa5500 } /* Literal.String.Char */
pre.pygments .tok-dl { color: #aa5500 } /* Literal.String.Delimiter */
pre.pygments .tok-sd { color: #aa5500 } /* Literal.String.Doc */
pre.pygments .tok-s2 { color: #aa5500 } /* Literal.String.Double */
pre.pygments .tok-se { color: #aa5500 } /* Literal.String.Escape */
pre.pygments .tok-sh { color: #aa5500 } /* Literal.String.Heredoc */
pre.pygments .tok-si { color: #aa5500 } /* Literal.String.Interpol */
pre.pygments .tok-sx { color: #aa5500 } /* Literal.String.Other */
pre.pygments .tok-sr { color: #009999 } /* Literal.String.Regex */
pre.pygments .tok-s1 { color: #aa5500 } /* Literal.String.Single */
pre.pygments .tok-ss { color: #0000aa } /* Literal.String.Symbol */
pre.pygments .tok-bp { color: #00aaaa } /* Name.Builtin.Pseudo */
pre.pygments .tok-fm { color: #00aa00 } /* Name.Function.Magic */
pre.pygments .tok-vc { color: #aa0000 } /* Name.Variable.Class */
pre.pygments .tok-vg { color: #aa0000 } /* Name.Variable.Global */
pre.pygments .tok-vi { color: #aa0000 } /* Name.Variable.Instance */
pre.pygments .tok-vm { color: #aa0000 } /* Name.Variable.Magic */
pre.pygments .tok-il { color: #009999 } /* Literal.Number.Integer.Long */
